.Banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: bisque;
    height: 300px;
    margin-bottom: 150px;
}
.mainContentBox{
    margin-bottom: 100px;
}
h2{
    font-size: 50px;
}
p{
    font-size: x-large;
}
.tagline{
    margin-left:80px
}
.header{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-top: 100px;
    margin-bottom: 250px;
}
h1 {
    font-size: 60px;
}