.row {
    display: flex;
    margin-right:10vw;
    margin-left:10vw;
    margin-top: 5vw;
}

.column-left {
    flex: 30%;
    padding: 10px;
    height: 400px;
  }
.column-right {
    flex: 70%;
    padding: 10px;
    height: 400px;
  }
.forms{
      padding-bottom: 30px;
  }